* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}
h1 {
  background-color: #a52a2a;
  color: #ffffff;
  text-align: center;
}

p {
  font-size: 18px;
}
.italic {
  color: #0502ff;
  font-style: italic;
  font-weight: bold;
}
.images {
  text-align: center;
}
.auto {
  border: dotted #000000;
}
footer {
  background-color: #000000;
  color: #f0f0f0;
  font-size: 20px;
  text-align: center;
}
